
/* parent selector */
div{
  background-color: gold;
}

/* child selector (>) */
div>p{
    background-color: red;
}

/* descendent selector */
div p{
    background-color: orangered;
}

/* adjacent sibiling selector (+) */
div+p{
    background-color: blue;
} 


/* general sibiling selector (~) */
div~p{
    background-color: pink;
}


div .first .c1  {
    background: red;
}
