a:link{
    color: orangered;
}
a:visited{
      color: rgb(21, 255, 0);
}
a:hover{
      color: rgb(17, 0, 255);
}
a:active{
      color: rgb(255, 234, 0);
}
/* .even{
    background-color: orangered;
} */

/* li:nth-child(odd){
    background-color: orangered;
} */
/* li:nth-child(odd){
    background-color: rgb(0, 242, 255);
}  */
/* li:nth-child(2n+1){
    background-color: rgb(0, 242, 255);
}

li:first-child{
    background-color: orangered;
}
li:last-child{
    background-color: orangered;
} */

/* li:first-of-type{
    background-color: blue;
} */

input:required{
    border: 2px solid red;
}

input:disabled{
 background-color: gray;
 text-transform: capitalize;
 font-size: 1.5rem;
}

input:read-only{
    margin-top: 10px;
    background-color: orangered;
}
/* input:focus{
    padding:.5rem;
    width: 300px;
    transition: all 2s linear;
} */

input:checked+label{
    background-color: aqua;
}

input:in-range{
 background-color: aqua;
}
input:out-of-range{
    background-color: red;
}
/* h1:not(.c1){
    background-color: aqua;
} */

/* :is(h1,p){
    border: 2px solid red;
} */

input[required]{

}
p[id="card"]{
    background-color: aqua;
}
/* p[class*="card"]{
    background-color: aqua;
} */

/* p[class^="card"]{
    background-color: aqua;
} */

/* p[class~="card"]{
    background-color: aqua;
} */
/* begins with */
/* p[class^="card"]{
    background-color: aqua;
} */

/* end with  */
/* p[class$="card"]{
    background-color: aqua;
} */

/* - hypen based values  */
p[class|="card"]{
    background-color: orangered;
}
